<li> 
        <%= render 'cities/icons/businesstime' %>
        Business Time 
        </li>
        <li> 
        <%= render 'cities/icons/businessovertime'%>
        Business Overtime
        </li>
        <li> 
        <%= render 'cities/icons/personaltime'%>
        Personal Time
        </li>
        <li> 
        <%= render 'cities/icons/sleepingtime'%>
        Sleeping Time
</li>