<header class= "navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <div class="header">
        <a class="navbar-brand"> Clock+ </a>
        <nav>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Showcase", root_path%></li> 
            <li><a href="mailto: s3700178@student.rmit.edu.au">Contact Us </a></li> 
          </ul>


          </nav>
       
        </div>
    </div>
  </header>